.slide_home {
    float: left;
    width: 100%;
}
.flex-viewport {
    float: left;
    max-height: 2000px;
    transition: all 1s ease 0s;
    width: 100%;
}.flexslider {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 4px;
    margin: 0 auto;
    max-width: 1200px;
}.flex-control-thumbs {
    bottom: 80px;
    margin: 0;
    height: 110px;
    overflow: hidden;
    position: relative;
}
.flex-control-thumbs li {
    height: 78px;
    margin: 0;
    width: auto;
}
.flexslider li {
    float: none;
    position: relative;
}
.flex-control-thumbs img {
    -moz-user-select: none;
    border: 2px solid #ff0000;
    cursor: pointer;
    display: inline-block;
    height: auto;
    margin: 0 auto;
    opacity: 0.7;
    transition: all 1s ease 0s;
    vertical-align: middle;
    width: 80%;
}
.flex-control-thumbs img.flex-active,
.flex-control-thumbs img:hover {
    width: 100%;
}

/*TEXT INSIDE SLIDER*/
.flexslider .slide_bloc_txt {
    color: #ffffff;
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    top: 100px;
    width: 80%;
}.flexslider .slide_bloc_txt header,.flexslider .slide_bloc_txt p.temoignage {
    background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
    color: #ff0000;
    font-size: 50px;
    margin: 0;
    padding: 10px 20px;
    position: relative;
    width: 100%;
}
.flexslider .slide_bloc_txt p.temoignage {
    font-size: 30px;
}
.flexslider .slide_bloc_txt p.temoignage.ligne2 {
}

.flexslider li.slide.flex-active-slide .slide_bloc_txt header {
	-webkit-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
	-moz-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
	-o-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
	-ms-animation: fromLeftAnim2 0.6s ease-in 0.6s both;
	animation: fromLeftAnim2 0.6s ease-in 0.6s both;
}
.flexslider li.slide.flex-active-slide .slide_bloc_txt p.temoignage{
	-webkit-animation: fromRightAnim2 0.4s ease-in 1.2s both;
	-moz-animation: fromRightAnim2 0.4s ease-in 1.2s both;
	-o-animation: fromRightAnim2 0.4s ease-in 1.2s both;
	-ms-animation: fromRightAnim2 0.4s ease-in 1.2s both;
	animation: fromRightAnim2 0.4s ease-in 1.2s both;
}
.flexslider li.slide.flex-active-slide .slide_bloc_txt p.temoignage.ligne2{
	-webkit-animation: fromRightAnim3 0.8s ease-in 1.6s both;
	-moz-animation: fromRightAnim3 0.8s ease-in 1.6s both;
	-o-animation: fromRightAnim3 0.8s ease-in 1.6s both;
	-ms-animation: fromRightAnim3 0.8s ease-in 1.6s both;
	animation: fromRightAnim3 0.8s ease-in 1.6s both;
}
.flexslider li.slide:not(.flex-active-slide) .slide_bloc_txt header,
.flexslider li.slide:not(.flex-active-slide) .slide_bloc_txt p.temoignage{
	opacity: 0;
}