/**
 * Specific Styles for older IE versions (previous to IE9).
 */
.content .main {
    float: left;
    width: 70%;
}
.sidebar {
    float: right;
    font-size: 13px;
    padding: 10px;
    width: 28%;
}
	#login {
    padding: 0 1%;
    position: absolute;
    right: 0;
    top: 5px;
    width: 30%;
			}
      .img.logo {
        width: 100%;
      }
      .img.logo img {
        position: static;
        width: 400px;
      }
      #header-menu li a {
        margin: 0 20px 0 0;
        padding:5px;
      }
body:not(.logged-in) #header-droite {
    position: absolute;
    right: 31%;
    top: 5px;
}
#login p {
    font-size: 10px;
    margin: 0.5em 0;
}.listepv .readmore.btn_dl_doc,
.content .sidebar .cretpv a.btn_dl_doc {
    min-height: 35px;
    padding-left: 70px;
}
.listepv .pagination {
    display: block;
}
.content .sidebar .cretpv a.btn_dl_doc:hover {
    color: #1e90ff;
}
a.btn_dl_doc::before {
    height: 20px;
}
.footer .adresse, .footer #copyright {
    float: left;
    width: 100%;
}
.owner_info {
    float: left;
    padding-bottom: 25px;
    width: 40%;
}
.content .nav404 ul li, .navFooter li {
    font-size: 0.9em;
    margin-bottom: 0;
    margin-right: 3.3%;
    margin-top: 0;
    width: 30%;
}
.content .nav404 ul li ul li, .navFooter li ul li {
    font-size: 1em;
    margin-top: 0.5em;
    width: 100%;
}
 a.readmore:not(.archives):hover,
a.readmore:hover {
    color: #282840;
}