/*Barre d'outil front office*/
#wpadminbar {
    background-color: #e6411e;
}
#wp-toolbar {
    margin: 0 auto;
   max-width: 1060px;
}
#wp-admin-bar-wenetwork_admin_bar-menu-0 .ab-item.ab-empty-item {
    display: none;
}
#wpadminbar #wp-admin-bar-wenetwork_admin_bar-menu-0.menupop .ab-sub-wrapper {
    background: transparent;
    box-shadow: none;
    display: block;
}
#wpadminbar .quicklinks #wp-admin-bar-wenetwork_admin_bar-menu-0.menupop ul li {
    float: left;
}
#wpadminbar .ab-submenu .ab-item, #wpadminbar .quicklinks #wp-admin-bar-wenetwork_admin_bar-menu-0.menupop ul li a, #wpadminbar .quicklinks #wp-admin-bar-wenetwork_admin_bar-menu-0.menupop ul li a strong, #wpadminbar .quicklinks #wp-admin-bar-wenetwork_admin_bar-menu-0.menupop.hover ul li a, #wpadminbar.nojs .quicklinks #wp-admin-bar-wenetwork_admin_bar-menu-0.menupop:hover ul li a {
    color: #ffffff;
    min-width: unset;
    float: left;
}
#wpadminbar #wp-admin-bar-wenetwork_admin_bar-menu-0 .ab-sub-wrapper, #wpadminbar ul #wp-admin-bar-wenetwork_admin_bar-menu-0, #wpadminbar ul li#wp-admin-bar-wenetwork_admin_bar-menu-0 {
    position: static;
}
#wpadminbar .quicklinks li a:hover {
    color: #ffffff;
    text-decoration: underline;
}
#wpadminbar .ab-top-menu > li.hover > .ab-item, #wpadminbar .ab-top-menu > li:hover > .ab-item, #wpadminbar .ab-top-menu > li > .ab-item:focus, #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus {
    background: none repeat scroll 0 0 #e6411e;
    color: #ffffff;
}
#wpadminbar #adminbarsearch:before, #wpadminbar .ab-icon:before, #wpadminbar .ab-item:before {
    color: #ffffff;
}
/*Barre d'outil front office*/